$hamburger-padding-x           : 0px;
$hamburger-padding-y           : 0px ;
$hamburger-layer-width         : 20px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 3px;
$hamburger-layer-color         : #fff;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 1;